
  .upper_nav{
    background-color: rgb(34,34,34);
    height:50px;
    margin-bottom: 2px;
}

  .upper_nav a{

    text-decoration: none !important;
    color:rgb(123,123,131);
    font-size: 0.9em;
    
}

.upper_nav a:hover{

    color:rgb(77, 203, 68);
}


